/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$accentColor = #6ea6ff
$borderRadius = 3px
$textColor = #27476e

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 750px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem

.navbar
  box-shadow: 0px 0px 10px #666;
  border: unset !important;

.navbar .site-name
  font-weight: inherit !important;

@media (max-width: $MQMobileNarrow)
  .navbar .site-name
    width: calc(100vw - 8rem) !important;
  .navbar .links
    padding-left: unset !important

html, body, p, ul, ol
  font-family:"IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif !important;
  font-weight: 300 !important;
  text-rendering: optimizeLegibility;
  color: hsla(0,0%,0%,0.7)
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

html, body
  font-size: 16px;
  line-height: 1.4rem;
  @media (min-width: $MQMobileNarrow)
    font-size: 20px;
    line-height: 1.6rem;

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, .sidebar-heading, .navbar
  font-weight: 200 !important;

h1, h2, h3, h4, h5, h6
  text-align: center;

h2, h3, h4, h5, h6, .sidebar-heading, .navbar
  border-bottom: unset

h1
  border-bottom: 2px solid $accentColor;

.nav-links .nav-item
  margin-left: unset !important

.nav-links .nav-item a,
.nav-links .nav-item .nav-link.external a,
.nav-link.router-link-exact-active.router-link-active,
.nav-links a:hover, .nav-links a.router-link-active
  padding: 0 0.5em;
  margin: 0 0.5em;

.nav-item > a:not(.external):hover::before
  height: 3px;
  background-color: $accentColor;
  position: absolute;
  top: 2rem;
  z-index: -2;
  left: 0;
  transform: skew(-15deg) scale(1);
  transition: all .275s;
  content: ' '
  width: 100%

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active
  margin-bottom: unset
  border-bottom: unset
  border-bottom: 2px solid $accentColor;

.links .search-box input
  border-radius: 2px;
  border: unset;

.navbar .nav-links .nav-item
  font-size: 1.2em

svg.icon.outbound
  color: $textColor

.home h2
  text-align: center

.home .hero .description
  max-width: unset;

/**
 * layout for blog post
 */
.page > :first-child.theme-default-content.content__default
  padding-bottom: unset

.page > :nth-child(2).theme-default-content.content__default
  padding-top: unset

.theme-default-content:not(.custom) > :first-child
  margin-top: 2rem

iframe
  max-width: 100%
  margin: auto
  display: block

  @media (min-width: $MQMobileNarrow)
    max-width: unset

/**
 * Size for images
 */
.full-bleed
  width: 100vw;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 20px gray;

.full-bleed img
  max-height: 60vh;

.d-block
  display: block;

.width-25
  width: 25%;

.width-33
  width: 33%;

.width-66
  width: 66%;

.width-50
  width: 50%;

.width-40
  width: 40%;

.width-60
  width: 60%;

@media (min-width: $MQMobileNarrow)
  .d-flex
    display: flex;

  .d-flex img
    margin-left: 4px;

  .flex-wrap
    flex-wrap: wrap;

  .flex-basis-25
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;

  .flex-basis-33
    flex-basis: 33%;
    width: 33%;
    max-width: 33%;

  .flex-basis-66
    flex-basis: 66%;
    width: 66%;
    max-width: 66%;

  .flex-basis-50
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;

  .flex-basis-40
    flex-basis: 40%;
    width: 40%;
    max-width: 40%;

  .flex-basis-60
    flex-basis: 60%;
    width: 60%;
    max-width: 60%;

  .flex-direction-column
    flex-direction: column

  .flex-jc-space-between
    justify-content: space-between

/**
 * Reset input CSS
 */
input
  margin: 0 0.5rem 0.5rem 0
  padding: 0.5rem

button
  background: unset;
  border: unset;
  border-bottom: 2px solid $accentColor;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

button:hover
  background-color: $accentColor;
  color: white;

@media (min-width: $MQMobileNarrow)
  .theme-default-content:not(.custom)
    padding-left: 0 !important
    padding-right: 0 !important


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance: button;

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style: none;
  padding: 0;

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
  outline: 1px dotted ButtonText;


/**
 * Medium zoom image
 */
.theme-default-content img
  cursor: pointer

.center
  text-align: center

table, tr, td
  border: unset
  margin: 0
  padding: 0

td
  padding: 4px
