<template>
  <div class="notfound">
    <p>404... {{errorMessage}}</p>
    <p><a href='/'>Retour à l'accueil</a></p>
  </div>
</template>

<script>

const errorMessages = [
  'vous cherchez une voiture ?... désolé, on la fait plus celle là...',
  'snif. on cherche pour vous, mais... rien. on trouve pas... ptet en revenant à l\'accueil ?',
  'et paf ! encore un article jeté à la poubelle... non mais vraiment... !',
  'snif. on a pas d\'article pour cette page... quelqu\'un a du nous le piquer... sûr !',
]

export default {
  computed: {
    errorMessage() {
      const index = Math.trunc(Math.random() * 100) % errorMessages.length
      return errorMessages[index]
    }
  }
}
</script>
