<template>
  <div id="global-layout">
    <component :is="layout"/>
    <footer>
      La cabane de la mer, Copyright 2020
      <div class="d-flex" :style="{'max-width': $contentWidth}">
        <div class="flex-basis-20">
          <a href="./lacabane.html">La cabane</a><br>
          <a href="./activites.html">Les activités</a><br>
          <a href="./environnement.html">L'environnement</a><br>
          <a href="./disponibilites.html">Disponibilités</a>
        </div>
        <div class="flex-basis-60">
          Jacqueline et Jean CHARBONNEAU<br>
          <a href="tel:+33660173536">06 60 17 35 36</a> / <a href="tel:+33670711307">06 70 71 13 07</a>
        </div>
        <div class="flex-basis-20">
          <a href="./reservation.html">Réservation</a><br>
          <a href="./mentions-legales.html">Mentions légales</a><br>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  computed: {
    layout () {
      if (this.$page.path) {
        if (this.$frontmatter.layout) {
          // You can also check whether layout exists first as the default global layout does.
          return this.$frontmatter.layout
        }
        return 'Layout'
      }
      return 'NotFound'
    }
  }
}
</script>

<style lang="stylus" scoped>
footer 
  background-color: #2D3A3A
  color: white
  padding: 1rem 0
  text-align: center
  font-size: 0.8rem

footer a
  color: white

footer > div
  max-width: $contentWidth
  margin: 1rem auto
  justify-content: space-between

footer > div div
  margin-bottom: 1rem

@media (min-width: $MQMobileNarrow)
  footer > div div:first-child
    text-align: left 

  footer > div div:last-child
    text-align: right
</style>